/* login.css */
.container {
  max-width: 400px;
}

.mt-5 {
  margin-top: 3rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.form-group {
  margin-bottom: 1.5rem;
}

.btn-block {
  display: block;
  width: 100%;
}


